@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    @apply m-0 p-0;
  }
  
  body {
    @apply bg-white text-gray-900 antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-oxanium {
    font-family: var(--font-oxanium);
  }

  .font-manrope {
    font-family: var(--font-manrope);
  }
}
